.decks-list-home {
  margin-top: 1rem;
}
.deck-title-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deck-home {
  border: 1px solid rgba(128, 128, 128, 0.61);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
}
.deck-btns-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-study > a:nth-child(2) {
  margin: 0 0.5rem;
}

@media all and (max-width: 336px) {
  .deck-btns-home {
    display: block;
  }
  .delete-btn {
    margin-top: 0.5rem;
  }
  .deck-title-home {
    flex-direction: column;
  }
}
